/* css document*/
@charset "utf-8";

@font-face {
    font-family: dancingscriptr;
    src: url("fuentes/dancingscript-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Dancing Script Bold;
    src: url("fuentes/dancingscriptbold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: alegreyaregular;
    src: url("fuentes/alegreyasansregular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: alegreyassb;
    src: url("fuentes/alegreyasansbold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: alegreyassl;
    src: url("fuentes/alegreyasanslight.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: alegreyassi;
    src: url("fuentes/alegreyasansitalic.ttf") format("truetype");
    font-weight: italic;
    font-style: italic;
}

:root {
    --color-primario: #0ED599;
    --color-secundario: #7AB5EF;
    --color-fondo: #f3ffd9;
    --color-texto: #000000;
    --color-detalles: #f0f8ff;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: var(--color-fondo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul{
    list-style: none;
}


h4{
    font-family: alegreyassi, sans-serif;
    font-size: 2rem;
    text-align: left;
    padding: 15px 0px;
}


.botonera{
    margin: 0px 15px;
    padding: 0px 30px; 
    display: flex;
    gap: 15px;
}


.botonera a{
    font-family: alegreyaregular;
    font-size: 1.5rem;
    color: var(--color-texto);
}

.botonera a:hover{
    background-color: var(--color-primario);
    border-radius: 5px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 6px 5px 20px;
    background-color: var(--color-secundario);
    position: sticky;
    top: 0;
}

main{
    display: flex;
    height: 920px;
    width: auto;
    padding: 25px 60px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

#cabecera{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.áreas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



#index{
    display: flex;
    height: auto;
    padding: 25px 60px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    align-self: stretch;
}

h3{
    font-family: dancingscriptr, cursive;
    font-size: 5rem;
    color: var(--color-primario);
    text-align: center;
    padding-top: 0px;
    animation-name: titulares;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes titulares {
    0% {
        color: var(--color-secundario);
    }
    50% {
        color: var(--color-primario);
    }
    100% {
        color: var(--color-detalles);
    }
}

h1{
    font-family: Dancing Script Bold, cursive;
    color: var(--color-primario);
    font-size: 10rem;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;

}

p{
    font-family: alegreya regular, sans-serif;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-wrap-style: balance;
    text-align: left;
    max-width: 500px;
    padding: 15px 30px 0px;
}

footer{
    background-color: var(--color-secundario);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 68px;
}

.icono p{
    padding: 0;
    max-width: 400px;
}

.libro p{
    padding: 10px 0px;
    min-width: 70%;
}

h2{
    font-family: alegreyassl, sans-serif;
    font-size: 2.8rem;    
}

footer ul{
        display: flex;
        gap: 20px;
}

.contenedor{
    display: flex;
    align-items: center;
}

.contenedor p{
    color: var(--color-detalles);
    font-family: alegreyaregular, sans-serif;
    font-size: 1.2rem;
    padding: 3px 20px;
}

#porfolio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 10px 0 10px 50px;
    flex: 1;
}

#porfolio p{
    padding: 40px 0px 20px;
    max-width: 400px;
}

#hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px 0px;
    gap: 30px;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 20px;
}

#galerias{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    padding: 5px 0px;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
}


.figurativo{
    display: flex;
    height: 920px;
    padding: 25px 60px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    justify-content: center;
}

#editoriales{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    padding: 5px 0px;
    align-items: flex-start;
}

.ilustracion p{
    padding: 10px 0px;
    min-width: 70%;
}

.tipografia{
    display: flex;
    height: 920px;
    padding: 25px 60px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    justify-content: center;
}

.tipografia2{
    display: flex;
    max-height: 920px;
    max-width: 1000px;
    padding: 25px 0px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    justify-content: center;
}

video{
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.video-contenido{
    display: flex;
    height: auto;
    padding: 25px 0px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    justify-content: center;
}

.zoomable {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoomable.zoomed {
  transform: scale(1.2);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* Estilos para página de contacto*/

form{
    width: 100%;
    height: auto;
    border: 1px solid var(--color-fondo);
    border-radius: 5px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-primario);
    border-radius: 5px;
    font-family: alegreyaregular, sans-serif;
    font-size: 1.4rem;
}

.textarea{
    height: 150px;
}

main#contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 20px;
    padding: 25px 60px;
}

.espacio{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 50px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: alegreyassb, sans-serif;
    font-size: 1.8rem;
    width: 30%;
}

/* Estilos para mobile y otras pantallas*/
@media screen and (min-width: 500px) and (max-width: 1200px) {
  :root {
    --color-primario: #0ED599;
    --color-secundario: #7AB5EF;
    --color-fondo: #f3ffd9;
    --color-texto: #000000;
    --color-detalles: #f0f8ff;
}

.botonera a{
    font-family: alegreyaregular;
    font-size: 1.5rem;
    color: var(--color-texto);
}

.botonera a:hover{
    background-color: var(--color-primario);
    border-radius: 5px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 6px 5px 20px;
    background-color: var(--color-secundario);
    position: sticky;
    top: 0;
}

h3{
    font-size: 3.5rem;
}

h1{
    text-align: center;
    padding: 10px 0px 0px 20px;
}

p{
    font-size: 1.4rem;
    line-height: 2.2rem;
}

footer{
    height: 80px;
}

.icono p{
    padding: 0;
    max-width: 400px;
}

.libro p{
    padding: 10px 0px;
    min-width: 70%;
}

h2{
    font-family: alegreyassl, sans-serif;
    font-size: 2.4rem;    
}

footer ul{
        display: flex;
        gap: 20px;
}

.contenedor p{
    font-size: 1rem;
}

#porfolio{
    padding: 10px 0 10px 20px;
}

#porfolio p{
    justify-content: center;
}

video{
    max-width: 940px;
}

/* Estilos para página de contacto*/

form{
    width: 100%;
    height: auto;
    border: 1px solid var(--color-fondo);
    border-radius: 5px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-primario);
    border-radius: 5px;
    font-family: alegreyaregular, sans-serif;
    font-size: 1.4rem;
}

.textarea{
    height: 150px;
}

main#contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 20px;
    padding: 25px 60px;
}

.espacio{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: alegreyassb, sans-serif;
    font-size: 1.8rem;
    width: 30%;
}
}